#intro {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  max-height: 2000px;
  overflow: hidden;
  align-items: center;

  #intro-background {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
  }

  .collage-image {
    position: absolute;
    display: block;
    z-index: 2;
    filter: drop-shadow(0 7px 4px #054114);
  }

  .right {
    right: 0;
  }

  .left {
    left: 0;
  }

  .top {
    top: 0;
  }

  .bottom {
    bottom: 0;
  }

  .middle {
    align-self: center;
  }

  .center {
    margin: 0 auto;
    text-align: center;
  }

  #bunny-bottom {
    height: 500px;
    width: 100%;
    background-image: url("/images/bunny-repeat-crop.png");
    background-repeat: repeat-x;
    bottom: 0;
  }

}
